<<<<<<< HEAD
.card .card-body h2 {
  color: #ff3e54;
  font-size: 20px;
}
.card .card-body p {
  color: #252525;
  font-size: 14px;
  margin-bottom: 0px;
}
.card .card-body .p-custom {
  color: #0e1f51;
  font-size: 14px;
  margin-bottom: 0px;
}
=======
>>>>>>> da9d0281de36c7547002022ffdc056be40fdcd28
