.btn-view-more {
  background-color: #ff3e54;
  padding: 12px 15px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.btn-view-more:active {
  transform: scale(0.9);
}

.h2-hero-custom {
  font-size: 2.9rem;
  font-weight: bold;
}

@media (max-width: 992px) {
  .h2-hero-custom {
    font-size: 2rem;
  }
}