.text-second-color {
   color: #0E1F51;
   transition: 0.3s;
}

li a.text-second-color:hover {
   color: #FF3E54;
}

.btn-custom {
   background-color: #FF3E54;
   border: none;
   color: #fff;
   border-radius: 5px;
   padding: 10px 14px;
   transition: 0.3s;
}

.btn-custom:active {
   transform: scale(0.9);
}

.blur-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   backdrop-filter: blur(5px);
   transition: 0.3s;
   z-index: 1;
}

@media (max-width: 992px) {
   .nav-small-screen {
      background-color: #0E1F51;
      padding: 10px 15px;
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      transform: translateX(700px);
      width: 65%;
      right: 0;
      top: 0;
      bottom: 0;
      transition: 0.3s;
      z-index: 2;
   }

   .nav-small-screen ul {
      flex-direction: column;
   }

   .nav-small-screen ul li a {
      color: #fff;
   }

   .nav-small-screen.show {
      transform: translateX(0);
   }
}