.color-primary-title {
  color: #ff3e54;
}

.color-secondary-title {
  color: #0e1f51;
}

.pd-custom-title {
  padding-top: 80px;
  padding-bottom: 50px;
}

.bg-color-container-title {
  background-color: #fff5f6;
}
