.pd-custom-banner {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(rgba(1, 16, 59, 0.5), rgba(1, 16, 59, 0.5)),
    url("../../assets/bennerImage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.btn-custom-banner {
  background-color: #ff3e54;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
}
